
body {
  background-color:        #F0F1F3;
  font-family:                "Consolas";
}

.button {
        position:                        absolute;
        background-color:        red;
        border:                                2px solid black;
        width:                                50px;
        height:                                50px;
        text-align:                        center;
        font-weight:                600;
}
.button2 {
        position:                        absolute;
        background-color:        green;
        border:                                2px solid black;
        width:                                45px;
        height:                                45px;
        text-align:                        center;
        font-weight:                600;
}

.button3 {
        position:                        absolute;
        background-color:        yellow;
        border:                                2px solid black;
        width:                                50px;
        height:                                50px;
        text-align:                        center;
        font-weight:                600;
}


.dioda {
        background-color:        white;
        border:                                1px solid;
        width:                                20px;
        height:                                20px;
        text-align:                        center;
}

#diody {

        width:                30px;
        height:                100px;
        position:        absolute;
        right:                15px;
        top:                15px;
        
}

#tryby {
        width:                70px;
        height:                202px;
        position:        absolute;
        right:                150px;
        top:                15px;
        background: red;
}


#drive{
        position:                absolute;
        top:                        80%;
        width:                        150px;
        height:                        100px;
        left:                        50%;
        margin-left:        100px;
}

#mapa{
        background-color: #72b6c8;
        position:                        absolute;
        top:                                15px;
        left:                                15px;
        border:                         2px solid black;
        width:                                700px;
        height:                                700px;

}

#dane{
        position:                        absolute;
        background: black;
        color: grey;
        font-size:70%;
        left: 740px;
        top: 15px;
        border:                         2px solid black;
        width:                                90px;
        height:                                150px;


}
#a{
        top:        50px;
        left:        0px;
}

#w{
        top:        0px;
        left:        50px;
}

#s{
        top:        50px;
        left:        50px;
}

#d{
        top:        50px;
        left:        100px;
}
#q{
        top:        0px;
        left:        0px;
}
#e{
        top:        0px;
        left:        105px;
}

#tryb1{
        top:        -100px;
        left:        0px;
        background-color: orange;
}
#tryb2{
        top:        -100px;
        left:        50px;
}

#skan{
        top:        -100px;
        left:        110px;
        background-color: teal;
}
