body {
  background-color:        #F0F1F3;
  font-family:                "Consolas";
}

.button {
        position:                        absolute;
        background-color:        red;
        border:                                2px solid black;
        width:                                48px;
        height:                                50px;
        text-align:                        center;
        font-weight:                600;
}
.button2 {
        position:                        absolute;
        background-color:        green;
        border:                                2px solid black;
        width:                                44px;
        height:                                44px;
        text-align:                        center;
        font-weight:                600;
}

.button3 {
        position:                        absolute;
        background-color:        yellow;
        border:                                2px solid black;
        width:                                147px;
        height:                                30px;
        text-align:                        center;
        font-weight:                600;
}
.button4 {
        position:                        absolute;
        background-color:        gray;
        border:                                2px solid black;
        width:                                30px;
        height:                                30px;
        text-align:                        center;
        font-weight:                600;
}


.dioda {
        background-color:        white;
        border:                                1px solid;
        width:                                20px;
        height:                                20px;
        text-align:                        center;
}

#video{
        position:        absolute;
	top:        510px;
        left:        15px;
}

#diody {

        width:                30px;
        height:                100px;
        position:        absolute;
        left: 781px;
        top:                15px;
        
}

#tryby {
        width:                70px;
        height:                202px;
        position:        absolute;
        right:                150px;
        top:                15px;
        background: red;
}


#drive{
        position:                absolute;
        top:                        15px;
        width:                        170px;
        height:                        480px;
        left:                        413px;
        margin-left:        100px;
	//background: red;
	border:                         2px solid black;
}

#modes{
        position:                absolute;
        top:                        45px;
        width:                        150px;
        height:                        100px;
        left:                        10px;
	//background: green;
}

#auto{
        position:                absolute;
        top:                        155px;
        width:                        150px;
        height:                        70px;
        left:                        10px;
	//background: green;
}

#manual{
        position:                absolute;
        top:                        235px;
        width:                        150px;
        height:                        230px;
        left:                        10px;
	//background: green;
}

#mapa{
        background-color: #72b6c8;
        position:                        absolute;
        top:                                15px;
        left:                                15px;
        border:                         2px solid black;
        width:                                480px;
        height:                                480px;

}

#dane{
        position:                        absolute;
        background: black;
        color: grey;
        font-size:70%;
        left: 910px;
        top: 15px;
        border:                         2px solid black;
        width:                                90px;
        height:                                150px;


}
#a{
        top:        115px;
        left:        0px;
}

#w{
        top:        65px;
        left:        50px;
}

#s{
        top:        115px;
        left:        50px;
}

#d{
        top:        115px;
        left:        99px;
}
#q{
        top:        65px;
        left:        0px;
}
#e{
        top:        65px;
        left:        103px;
}

#tryb1{
        top:        30px;
        background-color: orange;
}
#tryb2{
        top:        65px;
}

#skan{
        top:        30px;
        background-color: teal;
}

#powrot{
        top:        170px;
        background-color: teal;
}

#autoA{
        top:        30px;
        left:        23px;
}
#autoB{
        top:        30px;
        left:        58px;
}
#autoC{
        top:        30px;
        left:        93px;
}
